/*HOME*/
img.top {
    width: 100%;
    height: auto; 
    display: block; }
h1 {
    line-height: 1em;
    font-family:  'Quicksand', sans-serif}
body {
    font-size: 20px; 
    margin: 0px; }
nav ul li {
    list-style-type: none;
    display: inline; 
    text-align: center; 
    padding: 5px;}
nav ul {
    padding: 5px;
    background-color: #D7D991; }
a {
    text-decoration: none;
    font-size: 20px;
    color: black; 
    font-family:  'Quicksand', sans-serif;}
li.nav:hover {
    background-color: #B9C069; }
footer {
    font-size: 10px;
    color:#404040;
    position: fixed; 
    bottom: 0px;
    line-height: 1.6em}
.link {
    font-size: 10px;
    text-decoration: underline;
    padding: 0px; 
    color: #404040;}
.gridwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    align-content: center;
    margin: 0px; }
img.home {
    border: 1px solid black;  
    margin: 20px;
    float: right;
    width: 35%; }
.discoverbox {  
    background-color: #F6F6F5;
    border-style: dashed;
    border-width: 1px;
    border-color: #C6C4BD;}
section {
    padding-top: 0em;
    padding: 1em; 
    font-family:  'Quicksand', sans-serif;
    line-height: 1.3em;
    margin: 20px;}
.heading {
    font-family:  'Quicksand', sans-serif; 
    margin-top: 0px; }  
.intro { 
    font-family:  'Quicksand', sans-serif;
    line-height: 1.4em;  
    margin: 20px; 
    margin-top: 50px;}
.all { 
    text-align: center;
    font-size: 13px;
    font-family:  'Quicksand', sans-serif;
    padding: 20px;
    color: #404040;
    position: static; 
    line-height: 1.3em;}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 13px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;}
.fa-linkedin {
    background: #007bb5;
    color: white;}
.fa-facebook {
    background: #3B5998;
    color: white;}
.fa-instagram {
    background: #125688;
    color: white; }
/*RESUME*/
.resumepage {
    background-color: #E7EBF4;}
.resume {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px; 
    padding: 20px;
    border-style: dashed;
    border-width: 1px;
    border-color: #C6C4BD;
    font-family:  'Quicksand', sans-serif;
    max-width: 900px;
    background-color: white;}
.extra {
    color: #5086B5; }
.extra:hover {
    color: #7F8C16;}
.center {
    text-align: center;
    margin: 5px;}
.text {
    font-size: 15px; 
    margin-top: 5px;
    font-family:  'Quicksand', sans-serif}
.experience {
    font-size: 15px; 
    font-family:  'Quicksand', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;}
.school {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;}
.indent {
    font-size: 15px;
    text-indent: 30px;
    margin: 0px; }
.name {
    font-weight: 600;} 
strong {
    font-weight: 700;}
h4 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family:  'Quicksand', sans-serif}
.bottom
    {font-size: 10px;}
/*SAMPLE WORK*/
.sample {
    padding: 10px;}
.synopsis {
    font-family:  'Quicksand', sans-serif;
    font-size: .8em;
    border-style: dashed;
    border-width: 1px;
    border-color: #C6C4BD;
    background-color: #F6F6F5; 
    padding: 20px; 
    margin: 25px;}
.write {
    font-size: 2.5em ;
    font-family:  'Quicksand', sans-serif; 
    text-align: center;
    margin-bottom: 0px;}
.sentence {
    font-family:  'Quicksand', sans-serif;
    font-size: 1em;
    padding-left: 20px; 
    padding-right: 20px;
    text-align: center;
    margin-top: 10px; }
a.button:link { 
    color: #365979;
    border: 1px solid #365979; 
    background-color: #ECF5FD;
    padding: 10px;
    position: relative;
    bottom: 19px;
    border-radius: 5px;
    text-decoration: none; }
a.button:visited { 
    color: #365979;
    border: 1px solid #365979; 
    background-color: #ECF5FD; }
a.button:hover { 
    color: #2D4005 ;
    border: 1px solid #2D4005; 
    background-color: #EFF1E2; }
/*CONTACT ME*/
.contactbody {
    background-color: #E7EBF4}
.contactmain {
    font-family:  'Quicksand', sans-serif;
    line-height: 1.4em;
    margin: 50px;
    margin-right: 20px;
    }
img.bye {
    border: 1px solid black;  
    margin: 20px;
    width: 35%;
    float: left;}
ul li.follow {
    list-style-type: none;
    font-family:  'Quicksand', sans-serif;
    line-height: 1.4em; 
    text-indent: 60px; }
.contactfooter {
    float: left; 
    width: 100%; }